{% extends "layout.html" %}

{% block content %}
<style>
label{
    font-size: 1.4em !important;
}
h4{
    font-size: 1.8em !important;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #DF9E49;
    z-index: 0;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #DF9E49;
}
</style>
    <form action="{{ url_for('submitQuestionnaire') }}" method="POST">
        {% for question in questions %}
            <div class="questions row" id="q{{ question[0] }}">
                {% set index = loop.index %}
                <h4>{{ question[1] }}</h4>
                {% for choice in range(2, question|length) if question[choice] is not none%}
                    <p>
                    <input name="question[{{ index }}]" type="radio" id="question{{ index }}-choice{{ choice-1 }}" class="orange accent-3" value="{{ loop.index0 }}" {# {% if loop.index0 == 0 %}required{% endif %}#}>
                    <label for="question{{ index }}-choice{{ choice-1 }}">{{ question[choice] }}</label>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="row center-align">
            <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">
                <span style="color: #DF9E49;">Submit
                    <i class="material-icons right">send</i>
                </span>
            </button>
        </div>
    </form>
{% endblock %}
